
.GridItem{

  object-fit: contain;
  align-self: flex-start;
  margin-bottom: 5rem;
  display: flex;
  align-content: inherit;
  justify-content: space-between;
  position: relative;
    
}
.ProjectTitle{
  font-size: 2.2em;
  align-self: center;
  z-index: 2;
  color: #D64B47;
  margin-left: -5rem;
  flex-shrink: 0;
  max-width: 22rem;
}

h1:nth-of-type(even) {
  /* margin-right: -5rem;
  margin-left: 0; */
  /* color:black; */
  
}

.GridItem:nth-child(even) {
  flex-direction: row-reverse;
  align-self: flex-end;

 
}

.GridItem:nth-child(even) h1 {
  color:black;

 
}

.titleCover{
    width: 100%;
}

.off{
    opacity: 0;   
    
}

.on{

opacity: 1;   
animation-name: animateIn;
animation-duration: 350ms;
animation-delay: calc(var(--animation-order) * 100ms);
animation-fill-mode: both;
animation-timing-function: ease-in-out;
}


@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(10px);
  
  }
  
  100% {
    opacity: 1;
    

  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  
.GridItem {
    width: 22rem;
    height: 22rem
}
}