
.GridItem{


  display: flex;
  flex-direction: column-reverse;
  object-fit: contain;
  margin-bottom: 10rem;
  align-self: flex-start;
  position: relative;
  width: 42rem;
  z-index: 55;


}
.ProjectTitle{
  font-size: 2.2em;
  align-self: flex-end;
  margin-top: -0.8em;
  z-index: 2;
  color: #D64B47;
  text-transform: capitalize;
  margin-left: -1em;
  opacity: 0;
  
}




h1:nth-of-type(even) {
  /* margin-right: -5rem;
  margin-left: 0; */
  /* color:black; */
  
}

.GridItem:nth-child(even) {
  align-self: flex-end;
  margin-right: -1em;
  /* flex-direction: row-reverse;
  align-self: flex-end; */

 
}

.GridItem:nth-child(even) h1 {

  align-self: flex-start;

 
}

.titleCover{
    width: 100%;
    opacity: 0;      
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  
.GridItem {
  width: 22rem;
    
}
}