
.Grid{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: minmax(0, 1fr);
    grid-gap: 20px;
    
}

.Logo{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 80%;
}


/* width: 18rem;
height: 18rem; */