
.Grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;

    
}

.Logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 80%;
    padding-bottom: 2rem;
   
}


/* width: 18rem;
height: 18rem; */