
.About{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100vh; */
    background-color: peru;
    padding: 1em;
}

.About p {
    max-width: 22rem;
}
.social{
    display: flex;
    flex-direction: column;

}

.social a{
    padding: 0.5em;
}