
/* /Users/soheima/git/guissepi-portfolio/src/Components/Grid/Lightbox/fonts/ScienceGothic[YOPQ,wdth,wght,slnt].ttf */
@font-face {
    src: url('./fonts/ScienceGothic[YOPQ,wdth,wght,slnt].ttf'); /* IE < 9 */
    src: url('./fonts/ScienceGothic[YOPQ,wdth,wght,slnt].ttf') format("woff2");
    font-family: 'Fit-Variable';
    font-style: normal;
    font-weight: normal;
    }

.lightbox{
    display: grid;
    font-family: 'Fit-Variable';
    grid-template-columns: 1fr max-content 1fr;
    background-color: rgb(57, 59, 58, 0.8);
    color:#ffffff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    align-content: center;
    justify-content: center;
    justify-content: center;
}

.openLightBox {
    animation: openAnimation ease 1s; 
    
    animation-fill-mode: forwards;
}

.closeLightBox{
    animation: CloseAnimation ease-out 1s; 
    
    animation-fill-mode: forwards;
}

.lightbox p {
    grid-column: 1;
    grid-row: 1;
    align-self: baseline;
    margin-right: 1em;
    justify-self: flex-end;
    font-size: 2em;
}



.lightImage {
    max-height: calc( 100vh - 40px);
    grid-column: 2;
    /* grid-row: 2/span 2; */
    align-self: center;
    justify-self: center;
    /* animation: fadeInImage ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
   
    animation-delay: 0.6s; */
}

.shownLightbox button{
    visibility: visible;
}

.hiddenLightbox button{
    visibility: hidden;
}
.shownLightbox p {
    visibility: visible;
    justify-self: end;
    align-self: center;
}

.hiddenLightbox p{
    visibility: hidden;
}

button {
    display: inline-block;
    font-family: 'Fit-Variable';
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color:#ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;


}


  button.next:hover,
  button .next:focus {
    font-variation-settings: "wght" 900, "wdth" 200;
}

button.back:hover,
button .back:focus {
  font-variation-settings: "wght" 900, "wdth" 200;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}




/* .hideText{
    visibility: hidden;
} */

.close {
    grid-column: 3;
    align-self: baseline;
    grid-row: 1;
    
   
}
.next{
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-variation-settings: "wght" 100, "wdth" 100;
    transition:  font-variation-settings 0.2s;
}
.back{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-variation-settings: "wght" 100, "wdth" 100;
    transition:  font-variation-settings 0.2s;
}




.hideControls{
    visibility: hidden;
}

@keyframes openAnimation { 
    0% { 
        width: 0;
        

    } 
    100% { 
        
        width: 100vw; 
    } 
} 

@keyframes CloseAnimation{ 
    0% { 
        width: 100vw; opacity:1;
    } 
    30% { 
        opacity: 0; width: 30vw;
    }
    100% {     
        width: 0; opacity: 0; 
    } 
} 

@keyframes fadeInImage { 
    0% { 
        opacity: 0; 
    }
    
    100% { 
        opacity: 100%; 
    } 
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .button{
        font-size: .8em;
    }
    .lightImage {
        max-height: calc( 100vh - 240px);
    }
}