.projectPage{
  display: flex;
  flex-wrap: nowrap;
  flex-basis: auto;

}



.imageGallery{  
  display: flex;
  flex-wrap: nowrap;
}
.imgContainer{
  min-width: 40rem;
  margin: 5px;
  /* object-fit: cover; */
}
.imageGallery img {
  object-fit: contain;
  /* object-position: 50% 50%; */

  height: 100%;
  width: 100%;
}

.imageGallery:-webkit-scrollbar {
  display: none;
}
  
.text{
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-left: 2rem;
     
} 
.text > p {
    min-width: 15rem;
    text-align: left;
    padding-top: 1em;
}

.text h1{
  text-transform: capitalize; 
}




@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    
}
