.projectPage{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /* overflow-x: ; */

   
} 

.project:-webkit-scrollbar {
  display: none;
}
  

 
  .project > * {
    flex: 0 0 auto;
  }
  
  
  .image{
    
    flex: 0 0 auto;
    overflow: auto;
    /* object-fit: cover; */
    /* width: 550rem; */
    /* padding: 0.5em; */
    
    /* flex-basis: auto; */
   
    
  }

  /* .image::-webkit-scrollbar {
    display: none;
  } */
  .image img {
    width: 24rem;
    margin: 0.5em;
    
  }
  .project > img {
    height: 100%;
    flex-basis: auto;
    width: 24rem;
    align-self: center;
    object-fit: contain;
  }

  .project img:last-child {
    margin-right: 1em;
  }
 
  
  .project > * + * {
    margin-left: 1rem;
  }
  
  .project.overflowing {
    padding-bottom: 1rem;
  }

  .text{
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-left: 2rem;
     
  }
.text > p {
    width: 15rem;
    text-align: left;
    padding-top: 1em;
}

.text > h1 {
    z-index: 2;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    
}
